

/*  ********  This is for dark mode Example  ***************/ 

/*
.dark{
    background-color: black;
    color: white;
}

.light{
    background-color: white;
    color: black;
} 
*/
/***********************************************************/
